<header class="w-full mx-auto">
    <div class="header-container max-w-7xl container flex flex-wrap justify-between items-center mx-auto p-4">
      <div class="logo w-full md:w-1/2 mb-4 md:mb-0">
        <img src="https://www.pluggedin.com/wp-content/uploads/2019/10/plugged-in-logo-updated-1024x410.png" alt="Logo Here" class="max-w-full h-auto">
      </div>
      <div class="search-container w-full md:w-auto">
        <input type="search" class="border border-gray-300 rounded-full w-full md:w-auto p-2" placeholder="Search...">
      </div>
    </div>
    <nav class="bg-[#408078] text-white border-b-4 border-[#63A844] p-2">
      <div class="max-w-7xl mx-auto">
        <div class="nav-section flex flex-wrap justify-between items-center">
          <div class="nav-left flex flex-wrap">
            <a href="/" class="mr-2 mb-2 md:mb-0">Home</a>
            <a href="/movies" class="mr-2 mb-2 md:mb-0">Movies</a>
            <a href="/movies" class="mr-2 mb-2 md:mb-0">Movies</a>
            <a href="/movies" class="mr-2 mb-2 md:mb-0">Movies</a>
          </div>
          <div class="nav-right flex flex-wrap">
            <a href="/about" class="mr-2 mb-2 md:mb-0">Home |</a>
            <a href="/contact" class="mr-2 mb-2 md:mb-0">Contact |</a>
          </div>
        </div>
      </div>
    </nav>
  </header>